<div class="row m-5">
  <div class="col-md-6 offset-3 ">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-danger m-5" *ngIf="error">{{error}}</div>
        <form #password_reset_request_form=ngForm (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Send Email address to reset password</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="form.email" required>
          </div>
          <div class="form-group row ">
            <div class="col-md-10 offset-1">
              <button type="submit" class="btn btn-primary" [disabled]="!password_reset_request_form.valid">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Send Email</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>


</div>